<app-header></app-header>
<app-background></app-background>


  <div class="relative flex flex-col items-center justify-center py-12">
    <div class="pt-24 space-y-16">
      <section id="home" class="  bg-gray-900">
        <app-home></app-home>
      </section>

      <section id="about" class=" bg-gray-200">
        <app-about></app-about>
      </section>

      <section id="skills" class=" bg-gray-300">
        <app-skills></app-skills>
      </section>

      <section id="work" class="bg-gray-400">
        <app-work></app-work>
      </section>
    </div>
  </div>

