<app-header></app-header>
<app-background></app-background>


  <div class="relative flex flex-col items-center justify-center ">
    <div class="pt-24 space-y-32">

      <section id="home" class="py-12">
        <app-about></app-about>
      </section>

      <section id="about">
      </section>

      <section id="skills">
        <app-skills></app-skills>
      </section>

      <section id="work">
        <app-work></app-work>
      </section>


      <app-contact></app-contact>

    </div>
  </div>

