<div class="text-center">
  <h1 class="font-medium text-xl sm:text-2xl lg:text-3xl 2xl:text-4xl border-b-4 text-white inline-block border-theme-white mb-4 pb-1">Tech Stack</h1>
</div>
<div class="flex flex-wrap gap-2 justify-center sm:justify-start">
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">.NET</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">Angular</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">Microsoft SQL Server</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">ASP.NET MVC</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">VBA</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">VSTO</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">GIT</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">MySQL</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">HTML</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">CSS</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">TailwindCSS</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">TypeScript</div>
  <div class="rounded p-2 text-sm sm:text-base cursor-pointer bg-black text-white hover:bg-white hover:text-black ring-1 ring-black" style="opacity: 1;">JS</div>
</div>
