
<div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 overflow-hidden">
  <div><app-high-score #highscore></app-high-score></div>
  <div>
    <div class="flex flex-col items-center space-y-8">
      <h1 class="text-3xl font-bold text-gray-800">Snake Game</h1>
      <div class="flex flex-col items-center space-y-4">
        <div class="flex  min-w-full justify-center items-center">
          <div class="w-[250px] relative">
            <input class="peer w-full p-4 pt-6 pl-10 pr-4 bg-inherit border-2 rounded-md outline-none transition disabled:opacity-70 disabled:cursor-not-allowed border-gray-500 focus:border-purple-500"
                   type="text"
                   placeholder=""
                   name="username"
                   id="username" />
            <label class="absolute text-gray-500 text-base duration-150 transform -translate-y-3 top-5 z-10 origin-[0] left-10 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 peer-focus:text-purple-500"
                   for="username">
              Name
            </label>
            <svg class="absolute top-6 left-4"
                 fill=""
                 width="18"
                 height="18"
                 viewBox="0 0 344 384">
              <path d="M170.5 192q-35.5 0-60.5-25t-25-60.5T110 46t60.5-25T231 46t25 60.5t-25 60.5t-60.5 25zm0 43q31.5 0 69.5 9t69.5 29.5T341 320v43H0v-43q0-26 31.5-46.5T101 244t69.5-9z"
                    fill="#6b7280"></path>
            </svg>
          </div>
        </div>
        <div class="flex items-center space-x-4">
          <label for="difficulty" class="text-lg font-medium text-gray-600">Choose Difficulty:</label>
          <select id="difficulty" [(ngModel)]="difficulty" (change)="changeDifficulty(difficulty)"
                  class="border border-gray-300 rounded-md px-4 py-2 text-lg">
            <option value="2">Normal</option>
            <option value="3">Fast</option>
            <option value="5">Very Fast</option>
            <option value="7">Super Fast</option>
            <option value="10">Extreme</option>
          </select>
        </div>

        <button (click)="startGame()"
                class="relative cursor-pointer opacity-90 hover:opacity-100 transition-opacity p-[2px] bg-black rounded-[16px]   bg-gradient-to-r from-green-300 via-lime-500 to-teal-300] active:scale-95">
          <span class="w-full h-full flex items-center gap-2 px-8 py-3 bg-[#B931FC] text-white rounded-[14px]   bg-gradient-to-r from-green-300 via-lime-500 to-teal-300">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 class="w-5 h-5"
                 fill="none"
                 stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 stroke-width="2">
              <path d="M8 13V9m-2 2h4m5-2v.001M18 12v.001m4-.334v5.243a3.09 3.09 0 0 1-5.854 1.382L16 18a3.618 3.618 0 0 0-3.236-2h-1.528c-1.37 0-2.623.774-3.236 2l-.146.292A3.09 3.09 0 0 1 2 16.91v-5.243A6.667 6.667 0 0 1 8.667 5h6.666A6.667 6.667 0 0 1 22 11.667Z"></path>
            </svg>Play Game
          </span>
        </button>


        <div *ngIf="isCountingDown" class="flex-col gap-4 w-full flex items-center justify-center">
          <div class=" border-transparent text-blue-400 text-4xl flex items-center justify-center border-t-blue-400 rounded-full">
            <p>Game starts in: {{ countdown }}</p>

          </div>
        </div>

        <canvas id="gameCanvas" width="600" height="600" class="border-2 border-gray-700 rounded-lg shadow-lg">
        </canvas>
      </div>
     
    </div>
  </div>

  <div>
    <div class="w-full max-w-sm">
      <dl class="flex flex-col items-center rounded-lg bg-blue-50 px-4 py-8 text-center shadow-md">
        <dt class="order-last text-lg font-medium text-gray-500">Score:</dt>
        <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">{{ score }}</dd>
      </dl>
    </div>
  </div>
</div>




