<a href="#" class="group relative block bg-black max-w-screen-lg mx-auto mt-8 lg:mt-12">
  <img alt=""
       src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
       class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50" />

  <div class="relative p-4 sm:p-6 lg:p-8">
    <p class="text-sm font-medium uppercase tracking-widest text-pink-500">Fullstack Developer</p>

    <p class="text-xl font-bold text-white sm:text-2xl lg:text-3xl">Mateusz Kędzierski</p>

    <div class="mt-32 sm:mt-48 lg:mt-64">
      <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
        <p class="text-sm text-white">
          Jestem Fullstack developerem z doświadczeniem w .NET, stawiającym pierwsze kroki w Angularze. Specjalizuję się w tworzeniu rozwiązań opartych na ASP.NET, zarówno w modelu MVC, jak i ASPX. Dobrze radzę sobie z projektowaniem i implementacją aplikacji webowych, integrując frontend z backendem.
          Mam szeroką wiedzę na temat baz danych i umiejętność tworzenia złożonych zapytań, funkcji i procedur SQL, co pozwala mi efektywnie pracować z dużymi zbiorami danych. Obecnie rozwijam swoje umiejętności front-endowe, skupiając się na Angularze, aby dostarczać nowoczesne rozwiązania webowe.
          Chętnie podejmuję wyzwania wymagające połączenia różnych technologii, stale poszerzając swoją wiedzę, aby tworzyć wydajne, skalowalne aplikacje.
        </p>
      </div>
    </div>
  </div>
</a>
