<article class="rounded-xl border border-gray-700 bg-gray-800 p-4">
  <ul class="mt-4 space-y-2">
    <li>
      <a  class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
        <strong class="font-medium text-white">Gra</strong>

        <p class="mt-1 text-xs font-medium text-gray-300">
          Gra z Highscorem - wyniki zapisują się w bazie 
        </p>
      </a>
    </li>

    <li>
      <a class="block h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600">
        <strong class="font-medium text-white">Jakiś inny</strong>

        <p class="mt-1 text-xs font-medium text-gray-300">
          Dashbordy itp. :D będą 
        </p>
      </a>
    </li>
  </ul>
</article>
