<div class="mt-8">
  <h3 class="text-2xl text-secondary-platform font-bold text-white">Education</h3>
  <div class="flex gap-6 mt-6">
    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" color="purple" style="color:purple" height="50" width="50" xmlns="http://www.w3.org/2000/svg">
      <path d="M22 10v6"></path>
      <path d="M2 10l10-5 10 5-10 5z"></path>
      <path d="M6 12v5c3 3 9 3 12 0v-5"></path>
    </svg>
    <div class="w-full">
      <a target="_blank" class="text-xl font-semibold text-purple-900 text-secondary-platform no-underline" href="https://eng.pw.edu.pl/">Warsaw University of Technology</a>
      <div class="flex justify-between items-center mb-2">
        <a target="_blank" class="text-md font-normal text-gray-600 no-underline" href="https://www.iul.ac.in/">Management and Engineering - M.Sc.</a>
        <p class="text-zinc-100 text-sm">2020 -2022</p>
      </div>
    </div>
  </div>
  <div class="flex gap-6 mt-6">
    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" color="purple" style="color:purple" height="50" width="50" xmlns="http://www.w3.org/2000/svg">
      <path d="M22 10v6"></path>
      <path d="M2 10l10-5 10 5-10 5z"></path>
      <path d="M6 12v5c3 3 9 3 12 0v-5"></path>
    </svg>
    <div class="w-full">
      <a target="_blank" class="text-xl font-semibold text-purple-900 text-secondary-platform no-underline" href="https://pollub.pl/en/">Lublin University of Technology</a>
      <div class="flex justify-between items-center mb-2">
        <a target="_blank" class="text-md font-normal text-gray-600 no-underline" href="#">Management and Engineering - B.Sc.</a>
        <p class="text-zinc-100 text-sm"> 2016 -  2020</p>
      </div>
    </div>
  </div>
</div>

<div class="py-16"></div>

