<div class="mt-10">
  <h3 class="text-2xl text-secondary-platform text-white font-bold">Work Experience</h3>
  <div class="flex gap-6 mt-6">
    <svg stroke="currentColor"
         fill="currentColor"
         stroke-width="0"
         viewBox="0 0 512 512"
         color="purple"
         style="color:purple"
         height="50"
         width="50"
         xmlns="http://www.w3.org/2000/svg">
      <rect width="448"
            height="320"
            x="32"
            y="128"
            fill="none"
            stroke-linejoin="round"
            stroke-width="32"
            rx="48"
            ry="48"></rect>
      <path fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M144 128V96a32 32 0 0 1 32-32h160a32 32 0 0 1 32 32v32m112 112H32m288 0v24a8 8 0 0 1-8 8H200a8 8 0 0 1-8-8v-24"></path>
    </svg>
    <div class="grid grid-cols-1 gap-4">
      <div class="w-full">
        <a target="_blank"
           class="text-xl font-semibold text-purple-900 text-secondary-platform no-underline"
           href="https://cermotor.com.pl/">
          CER MOTOR Sp. z o.o.
        </a>
        <div class="flex justify-between items-center mb-2">
          <h3 class="text-lg font-medium text-indigo-400">.NET Developer</h3>
          <p class="text-zinc-100 text-sm"> 2023 - Present</p>
        </div>
        <ul class="list-disc list-inside text-zinc-100 text-[12px] p-0">
          <li>Designing and implementing programming changes based on requirements.</li>
          <li>Creating and maintaining integrators using C#.</li>
          <li>Creating applications using modern frameworks, such as Angular, MVC, etc..</li>
          <li>Preparing and conducting tests, and documenting modifications.</li>
          <li>Supporting users, participating in the analysis and resolution of reported issues.</li>
          <li>Developing intuitive user interfaces and ensuring efficient client-server communication.</li>
          <li>Analyzing and optimizing code.</li>
          <li>Preparing data and creating user-friendly visualizations.</li>
        </ul>
      </div>
      <div class="w-full">
        <a target="_blank"
           class="text-xl font-semibold text-purple-900 text-secondary-platform no-underline"
           href="https://www.pitradwar.com/">
          PIT-RADWAR S.A
        </a>
        <div class="flex justify-between items-center mb-2">
          <h3 class="text-lg font-medium text-indigo-400">Configuration manager</h3>
          <p class="text-zinc-100 text-sm"> 2020 - 2023</p>
        </div>
        <ul class="list-disc list-inside text-zinc-100 text-[12px] p-0">
          <li>Data presentation, dashboard creation.</li>
          <li>Optimization and report generation using VBA.</li>
          <li>Analyzing data sets.</li>
          <li>Configuration management (according to PRINCE2 methodology).</li>
          <li>Reporting and presenting project stage results.</li>
          <li>Managing project changes and maintaining/updating project documentation.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
